$blue: #0079ff;
$graylish-blue: #697c9a;
$dark-graylish-blue: #4b6a9b;
$dark-gray: #2b3442;
$very-light-graylish-blue: #f6f8ff;
$off-white: #fefefe;

$white: #ffffff;
$black: #141d2f;
$very-dark-graylish-blue: #1e2a47;
