@use './colors' as *;
@use './modes';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Space Mono', monospace;
	background-color: $very-light-graylish-blue;
	font-size: 1.6rem;
}

@mixin elementsFocusStyles {
	&:focus {
		outline: none;
		border-bottom: 2px dashed $blue;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1111px;
	width: 100%;
}

.error-info {
	color: #f74646;
	font-weight: bold;
	font-size: 1.5rem;

	&--mobile {
		margin-top: 2em;
		text-align: right;
	}
}

.app {
	padding: 2em 1.5em;

	&__nav {
		display: flex;
		justify-content: space-between;

		&-title {
			font-size: 2.6rem;
			color: $black;
		}

		&-mode {
			display: flex;
			align-items: center;
			font-family: inherit;
			font-size: 1.3rem;
			color: $dark-graylish-blue;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			border: 2px solid transparent;
			border-radius: 10px;
			background-color: transparent;
			cursor: pointer;
			transition: color 0.3s;
			@include elementsFocusStyles;

			&:focus {
				border-radius: 0;
			}

			&:hover {
				color: $black;
			}

			svg {
				display: none;
				margin-left: 1.2em;
			}

			svg.active {
				display: block;
			}
		}
	}

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2.3em;
		padding: 0.4em 0.4em 0.4em 1em;
		border-radius: 15px;
		background-color: $white;

		.error-info {
			position: absolute;
			right: 3%;
			top: -35%;
			display: none;
			font-size: 1.3rem;
		}

		&-ico {
			height: 20px;
		}

		&-input {
			margin: 0 0.5em;
			padding: 0.8em 0;
			width: 100%;
			font-size: 1.3rem;
			border: 2px solid transparent;
			background-color: transparent;
			cursor: pointer;

			&::placeholder {
				font-family: 'Space Mono', monospace;
				color: $dark-graylish-blue;
				letter-spacing: 0;
			}

			&:focus {
				outline: none;
				border: 2px dashed $blue;
			}
		}

		&-btn {
			padding: 0.9em 1.1em 0.9em 1.4em;
			font-family: inherit;
			color: $white;
			border: 2px solid transparent;
			border-radius: 10px;
			background-color: $blue;
			cursor: pointer;
			transition: opacity 0.3s;

			&:focus {
				outline: none;
				border: 2px dashed $black;
			}

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__main {
		margin-top: 1em;
		padding: 2em 1.5em;
		border-radius: 15px;
		background-color: $white;

		&-user {
			display: flex;

			img {
				margin-right: 1.2em;
				height: 70px;
				width: 70px;
				border-radius: 50%;
			}

			&-username {
				color: $dark-gray;
				font-size: 1.6rem;
			}

			&-userlink {
				text-decoration: none;
				color: $blue;
				font-size: 1.3rem;
				@include elementsFocusStyles;
			}

			&-joined {
				font-size: 1.3rem;
				color: $graylish-blue;
			}
		}

		&-description {
			margin-top: 2.5em;
			color: $graylish-blue;
			font-size: 1.3rem;
			line-height: 25px;
		}

		&-boxes {
			margin-top: 1.4em;
			padding: 1.1em 0;
			display: flex;
			justify-content: space-evenly;
			border-radius: 10px;
			background-color: $very-light-graylish-blue;
		}

		&-box {
			text-align: center;
			&-title {
				font-size: 1.1rem;
				color: $graylish-blue;
			}

			&-number {
				margin-top: 0.5em;
				font-size: 1.6rem;
				font-weight: bold;
			}
		}

		&-links {
			margin-top: 1.5em;

			&-link {
				text-decoration: none;
				font-size: 1.3rem;
				color: $dark-graylish-blue;
				border-bottom: 1px solid transparent;
				transition: border 0.3s;
				@include elementsFocusStyles;

				&:hover {
					border-bottom: 1px solid $dark-graylish-blue;
				}
			}

			&-box {
				display: flex;
				align-items: center;
				gap: 1em;
				margin-bottom: 1em;
				color: $dark-graylish-blue;

				&:nth-child(odd) {
					gap: 1.4em;
				}

				&--disabled {
					svg {
						color: #c0c8e4;
					}

					.app__main-links-link {
						color: #c0c8e4;
						transition: none;
						cursor: default;
						&:hover {
							border: none;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		min-width: 570px;
		max-width: 570px;
	}

	.app {
		&__search {
			padding: 0.4em 0.4em 0.4em 1.8em;

			&-ico {
				margin-right: 1em;
				height: 24px;
			}

			&-input {
				padding: 0.8em 0;
				font-size: 1.8rem;
			}

			&-btn {
				padding: 0.8em 1.5em;
				font-size: 1.6rem;
				font-weight: bold;
			}
		}

		&__main {
			margin-top: 1.5em;
			padding: 2.5em;

			&-user {
				align-items: center;
				img {
					margin-right: 2.5em;
					height: 117px;
					width: 117px;
				}

				&-username {
					font-size: 2.6rem;
				}

				&-userlink {
					font-size: 1.6rem;
				}

				&-joined {
					font-size: 1.5rem;
				}
			}

			&-description {
				margin-top: 1.6em;
				font-size: 1.5rem;
			}

			&-boxes {
				justify-content: flex-start;
				gap: 6em;
				margin-top: 2em;
				padding: 1.1em 2em;
			}

			&-box {
				text-align: left;
				&-title {
					font-size: 1.3rem;
				}

				&-number {
					margin: 0;
					font-size: 2.2rem;
				}
			}

			&-links {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 1.5em;
				margin-top: 2em;

				&-box {
					&:nth-child(odd) {
						gap: 1em;
					}

					&:first-child {
						grid-column: 1/2;
						grid-row: 1/2;
						gap: 1.4em;
					}

					&:nth-child(2) {
						grid-column: 1/2;
						grid-row: 2/3;
					}

					&:nth-child(3) {
						grid-column: 2/3;
						grid-row: 1/2;
					}

					&:nth-child(4) {
						grid-column: 2/3;
						grid-row: 2/3;
					}

					a {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.wrapper {
		min-width: 730px;
		max-width: 730px;
	}

	.app {
		&__search {
			.error-info {
				font-size: 1.5rem;
				position: absolute;
				right: 20%;
				top: 50%;
				transform: translateY(-50%);
			}

			&-input {
				margin-right: 8.5em;
			}
		}

		&__main {
			display: grid;
			grid-template-columns: 117px auto;
			grid-template-rows: auto auto auto;
			column-gap: 2em;

			&-user {
				grid-column: 1/3;
				align-items: flex-start;

				&-info {
					display: grid;
					grid-template-columns: 1fr, 1fr;
					width: 100%;
				}

				img {
					margin-right: 2em;
				}

				&-username {
					grid-column: 1/2;
					grid-row: 1/2;
				}

				&-userlink {
					grid-column: 1/3;
				}

				&-joined {
					grid-column: 2/3;
					align-self: center;
					justify-self: end;
					grid-row: 1/2;
				}
			}

			&-description {
				grid-column: 2/3;
				margin-top: -2.4em;
			}

			&-boxes {
				grid-column: 2/3;
			}

			&-links {
				grid-column: 2/3;

				&-box {
					margin-bottom: 1.2em;
				}
			}
		}
	}
}

@import './preferedColorsScheme';
